* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--text-light: #EFF1F6;
	--text-dark: #373A40;
}

::-moz-selection {
	background: #D5D7E2;
}

::selection {
	background: #D5D7E2;
}

body {
	font-family: Arial;
	background: var(--text-light);
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.not-found {
	user-select: none;
	color: var(--text-dark);
	justify-content: center;
}



.home section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 1200px;
	height: 100%;
}

.home section div:nth-child(1) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home h1 {
	font-size: 2.5rem;
	color: var(--text-dark);
	user-select: none;
}

.home section div {
	height: 50%;
}


.link-btn {
	cursor: pointer;
	box-sizing: border-box;
	text-decoration: none;
  color: var(--text-light);
	font-size: 1.5rem;
	user-select: none;
	border-radius: 3px;
	padding: 5px 10px;
	border: 1px solid #8F93A2;
  background: #989CA9;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-btn:hover {
  background: #8C909E;
  border: 1px solid #838795;
}

.link-btn:active {
  background: #767A88;
  border: 1px solid #737785;
}

.link-btn:focus {
  box-shadow: 0 0 0 4px #AFB3C1;
}

/* PLAN  */
.plan {
	padding: 17px 0 20px 0;
	height: auto;
}

.plan form {
/*	width: 1200px;*/
	display: flex;
/*	background: black;*/
	flex-direction: column;
	align-items: center;
}

.plan form div {
	display: flex;
}

.plan textarea {
	font-size: 1.15rem;
	resize: none;
	border-radius: 3px;
	border: 2px solid #D5D6DB;
	width: 275px;
	height: 225px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 3px;
	margin-top: 5px;
}

textarea:focus {
	color: var(--text-dark);
	outline: none;
	box-shadow: 0 0 0 4px #E1E3EA;
}

.plan label {
	color: var(--text-dark);
	font-size: 1.5rem;
	user-select: none;
	display: flex;
	flex-direction: column;
}

.plan form div label:nth-child(1) {
	margin-right: 5px;
}

.plan form div label:nth-child(2) {
	margin-left: 5px;
}

.plan .row-2 {
	margin-top: 17px;
	margin-bottom: 20px;
}

/*.plan form div:not(.save-row) {
	margin-bottom: 17px;
}*/

#save-row {
	position: relative;
	margin-top: 3px;
	display: flex;
	align-items: center;
	width: 100%;
}

#save-row, #save-row .link-btn {
	height: 37px;
}

#saved-confirm, #last-updated {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	flex-grow: 1;
}

#message {
	visibility: hidden;
	position: absolute;
	padding: 5px 18px;
	width: 100%;
	height: 100%;
}

#message-cont {
	display: flex;
	border-radius: 3px;
	overflow: hidden;
	align-items: center;
	width: 100%;
	height: 100%;
	background: #2BB287;
	border: 1px solid #21A67B;
}

#message-text {
	display: flex;
	color: var(--text-light);
	font-weight: bold;
	user-select: none;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

#message-btn-cont {
	display: flex;
	width: 27px;
	height: 100%;
	padding: 3px 0 3px 3px;
}

#message-btn {
	cursor: pointer;
	display: flex;
	background: #05896B;
	border: 1px solid #068366;
	border-radius: 3px;
	width: 100%;
	height: 100%;
}

#message-btn:hover {
	background: #078065;
	border: 1px solid #067A60;
}

#message-btn:active {
	background: #06755D;
	border: 1px solid #046C56;
}

#last-updated-cont {
	position: absolute;
	padding: 5px 18px;
	width: 100%;
	height: 100%;
}

#last-updated-text {
	user-select: none;
	display: flex;
	border-radius: 3px;
	justify-content: center;
	align-items: center;
	font-size: .73rem;
	font-weight: bold;
	color: var(--text-light);
	width: 100%;
	height: 100%;
	background: #989CA9;
	border: 1px solid #8F93A2;
}



