/**
 * @author: Kevin Price
 * @date: Jan 12, 2023
 * @filename: style.css
 * @description: stylesheet for page
 */


/*------- Home Page, Overall Styles -------*/
#home-content section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

#home-content section .center-area {
	width: var(--page-width);
	display: flex;
	flex-direction: column;
	align-items: center;
}

#home-content section .center-area div:nth-child(1) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home {
	position: relative;
}

.home h1 {
	font-size: 2.5rem;
	color: var(--text-dark);
	user-select: none;
}

.home section .center-area div:nth-child(1) {
	padding: 50px 0;
}

.home section .center-area div:nth-child(2) {
	padding-bottom: 50px;
}


.home nav {
	min-width: 100%;
	height: 55px;
	background: var(--header-footer-col);
	display: flex;
	justify-content: center;
}

.home nav .center-area {
	width: var(--page-width);
	height: 100%;
}

#home-content {
	/* begin sticky footer	*/
	flex: 1 0 auto;
	/* end sticky footer	*/

	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 100%;
}

.home footer {
	/* begin sticky footer	*/
	flex-shrink: 0;
	/* end sticky footer	*/

	display: flex;
	justify-content: center;
	height: 55px;
	min-width: 100%;
	background: var(--header-footer-col);
}

.home footer .center-area {
	height: 100%;
	width: var(--page-width);
	display: flex;
	justify-content: center;
	align-items: center;
}

.div-as-link {
	width: fit-content;
	padding: 0 0 2px 0;
	cursor: pointer;
	color: var(--text-dark);
	font-weight: bold;
}

.div-as-link:hover {
	color: var(--text-dark-2);
	text-decoration: underline;
}

.div-as-link:active {
	padding: 2px 0 0 0;
	color: var(--text-dark-3);
}




/*------- Plan Page Overall Styles -------*/
.plan {
	padding: 17px 0 20px 0;
	height: auto;
}

.plan form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.plan form div {
	display: flex;
}

.plan textarea, .textinput {
	font-size: 1.15rem;
	resize: none;
	border-radius: 3px;
	border: 2px solid #D5D6DB;
	width: 275px;
	height: 225px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 3px;
	margin-top: 5px;
}

.textinput {
	height: auto;
	margin-left: 15px;
}

.textinput2 {
	display: flex;
	flex-direction: column;
	font-size: 1.15rem;
	border-radius: 3px;
	border: 2px solid #D5D6DB;
	width: 275px;
	overflow: hidden;
	padding: 3px;
	margin-top: 5px;
}

.plan textarea:focus, .textinput:focus, .textinput2:focus {
	color: var(--text-dark);
	outline: none;
	box-shadow: 0 0 0 4px #E1E3EA;
}

.plan label {
	color: var(--text-dark);
	font-size: 1.5rem;
	user-select: none;
	display: flex;
	flex-direction: column;
}

.plan .row-3 label {
	flex-direction: row;
	align-items: flex-end;
	margin-bottom: 17px;
}

.print-btn {
	margin-top: 15px;
	padding: 4px 11px;
}

.plan form div label:nth-child(1) {
	margin-right: 5px;
}

.plan form div label:nth-child(2) {
	margin-left: 5px;
}

.plan .row-2 {
	margin: 17px 0;
}


/*------- Plan button and messages row  -------*/
#save-row {
	position: relative;
	margin-top: 3px;
	display: flex;
	align-items: center;
	width: 100%;
}

#save-row, #save-row .link-btn {
	height: var(--warning-height);
}

#saved-confirm, #last-updated {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	flex-grow: 1;
}

#saved-confirm_home {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: var(--warning-height);
	width: 100%;
}


/*------- last Updated Display Area -------*/
#last-updated-cont {
	position: absolute;
	padding: 5px 18px;
	width: 100%;
	height: 100%;
}

#last-updated-text {
	user-select: none;
	display: flex;
	border-radius: 3px;
	justify-content: center;
	align-items: center;
	font-size: .73rem;
	font-weight: bold;
	color: var(--text-light);
	width: 100%;
	height: 100%;
	background: #989CA9;
	border: 1px solid #8F93A2;
}


