/**
 * @author: Kevin Price
 * @date: Jan 19, 2023
 * @filename: warning.css
 * @description: stylesheet for warning pop up messages
 */


/*------- Warning Message Styles -------*/
#message {
	visibility: hidden;
	position: absolute;
	padding: 5px 18px;
	width: 100%;
	height: 100%;
}

#message-cont {
	display: flex;
	border-radius: 3px;
	overflow: hidden;
	align-items: center;
	width: 100%;
	height: 100%;
	background: #2BB287;
	border: 1px solid #21A67B;
}

#message-text {
	display: flex;
	color: var(--text-light);
	font-weight: bold;
	user-select: none;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

#message-btn-cont {
	display: flex;
	width: 27px;
	height: 100%;
	padding: 3px 0 3px 3px;
}

.message-btn {
	cursor: pointer;
	display: flex;
	background: #05896B;
	border: 1px solid #068366;
	border-radius: 3px;
	width: 100%;
	height: 100%;
}

.message-btn .btn-x{
	fill: #045A46;
}

.message-btn:hover .btn-x {
	fill: #034C3B;
}

.message-btn:active .btn-x {
	fill: #023A2D;
}

.message-btn:hover {
	background: #078065;
	border: 1px solid #067A60;
}

.message-btn:active {
	background: #06755D;
	border: 1px solid #046C56;
}