<!DOCTYPE html>
<!-- 
 - @author: Kevin Price
 - @date: Jan 18, 2023
 - @filename: admin.html
 - @description: admin page showing all plans
-->
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style/style.css">
	<link rel="stylesheet" type="text/css" href="style/admin.css">
	<title>Advise-It</title>
</head>
<body class="admin">

	<h1>All Plans</h1>

	<table>
		
		<tr>
			<th>Token</th>
			<th>Link</th>
			<th>Creation Date</th>
			<th>Advisor</th>
		</tr>

		<repeat group="{{ @plans }}"  value="{{ @plan }}">
			<tr>
				<td>{{ @plan['token'] }}</td>
				<td>{{ '<a href="' . @root . @plan['token'] . '">' . @root . @plan['token'] . '</a>'}}</td>
				<td>{{ @plan['created'] }}</td>
				<td>{{ @plan['advisor'] }}</td>
			</tr>
		</repeat>

	</table>

</body>
</html>