<!DOCTYPE html>
<!-- 
 - @author: Kevin Price
 - @date: Jan 12, 2023
 - @filename: home.html
 - @description: home page for student planner site
-->
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style/style.css">
	<script type="text/javascript" defer src="script/home.js"></script>
	<script type="text/javascript" defer src="script/plan.js"></script>
	<title>Advise-It</title>
</head>
<body class="home">



	<div id="home-content">
		{{ Views::header() }}

		<section>
			<div class="center-area">
				<div>
					<h1>Advise-It</h1>		
					<h1>Home</h1>		
				</div>
				<div>
					<form action="create-new" method="POST">
						<button type="submit" class="link-btn">Create New</button>
					</form>
				</div>	
			</div>
		</section>
	</div>

	<footer>
		<div class="center-area">
			<div id="open-login-modal" class="div-as-link">Login</div>
		</div>
	</footer>

	<check if="{{ isset(@invalid_login) && @invalid_login == true }}">
		<div id="login-modal-bg" class="login-modal-bg_visible">
	</check>

	<check if="{{ !isset(@invalid_login) }}">
		<div id="login-modal-bg" class="login-modal-bg_hidden">
	</check>

		<form action="login" id="login-modal-card" method="POST">

			<div class="btn-row">
				<div id="login-message-btn" class="message-btn">
					<svg style="clip-rule:evenodd;fill-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2" version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					 <g class="btn-x"  transform="matrix(.49011 -.49011 .82851 .82851 -3.6334 7.6531)">
					  <rect x="9.345" y="2.493" width="4.339" height="19.129"/>
					 </g>
					 <g class="btn-x"  transform="matrix(.49011 .49011 -.82851 .82851 16.347 -3.6334)">
					  <rect x="9.345" y="2.493" width="4.339" height="19.129"/>
					 </g>
					</svg>
				</div> 				
			</div>

			<label>User Name
				<input class="textinput2" type="text" name="username" id="login_username">
			</label>
			<label>Password
				<input class="textinput2" type="text" name="password" id="login_password">
			</label>

			<button id="login-btn" class="link-btn" type="submit">Login</button>


			<div id="saved-confirm_home">
				
				<check if="{{  isset(@invalid_login) && @invalid_login == true }}">
					<div id="message" _is_visible="t">
				</check>

				<check if="{{ !isset(@invalid_login) }}">
					<div id="message" _is_visible="f">
				</check>






					<div id="message-cont">
						<div id="message-btn-cont">

							<div id="message-btn" class="message-btn">
								<svg style="clip-rule:evenodd;fill-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2" version="1.1" viewBox="-2 0 24 24" xmlns="http://www.w3.org/2000/svg">
								 <g class="btn-x"  transform="matrix(.49011 -.49011 .82851 .82851 -3.6334 7.6531)">
								  <rect x="9.345" y="2.493" width="4.339" height="19.129"/>
								 </g>
								 <g class="btn-x"  transform="matrix(.49011 .49011 -.82851 .82851 16.347 -3.6334)">
								  <rect x="9.345" y="2.493" width="4.339" height="19.129"/>
								 </g>
								</svg>
							</div> 

						</div>
						<div id="message-text">Invalid Credentials</div>
					</div>





				</div>	

			</div>








		</form>		
	</div>

</body>
</html>

