<!DOCTYPE html>
<!-- 
 - @author: Kevin Price
 - @date: Jan 12, 2023
 - @filename: home.html
 - @description: home page for student planner site
-->
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style/style.css">
	<title></title>
</head>
<body class="home">



	<div id="home-content">
		<nav>
			<div class="center-area"></div>
		</nav>

		<section>
			<div class="center-area">
				<div>
					<h1>Advise-It</h1>		
					<h1>Home</h1>		
				</div>
				<div>
					<form action="#" method="POST">
						<button type="submit" class="link-btn">Create New</button>
					</form>
				</div>	
			</div>
		</section>
	</div>

	<footer>
		<div class="center-area">
			<div class="div-as-link">Login</div>
		</div>
	</footer>

	<div id="login-modal-bg" class="login-modal-bg_visible">
		<div id="login-modal-card">
			<h1>Login</h1>
			<label>User Name
				<input class="textinput2" type="text" name="username">
			</label>
			<label>Password
				<input class="textinput2" type="text" name="password">
			</label>

			<button class="link-btn" type="button">Login</button>



		</div>		
	</div>

</body>
</html>