<!DOCTYPE html>
<!-- 
 - @author: Kevin Price
 - @date: Jan 12, 2023
 - @filename: home.html
 - @description: home page for student planner site
-->
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style/style.css">
	<title></title>
</head>
<body class="home">

	<section>
		<div>
			<h1>Advise-It</h1>		
			<h1>Home</h1>		
		</div>
		<div>
			<form action="#" method="POST">
				<button type="submit" class="link-btn">Create New</button>
			</form>
		</div>
	</section>

</body>
</html>