<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../style/style.css">
	<title></title>
</head>
<body class="plan">

	<form action="" method="POST">
		<div>
			<label>Fall
				<textarea spellcheck="false" name="fall">{{ @SESSION.plan->getFall() }}</textarea>
			</label>
			<label>Winter
				<textarea spellcheck="false" name="winter">{{ @SESSION.plan->getWinter() }}</textarea>
			</label>
		</div>
		<div>
			<label>Spring
				<textarea spellcheck="false" name="spring">{{ @SESSION.plan->getSpring() }}</textarea>
			</label>
			<label>Summer
				<textarea spellcheck="false" name="summer">{{ @SESSION.plan->getSummer() }}</textarea>
			</label>
		</div>
		<button type="submit" class="link-btn">Save</button>
	</form>

</body>
</html>