<!DOCTYPE html>
<!-- 
 - @author: Kevin Price
 - @date: Jan 12, 2023
 - @filename: plan.html
 - @description: plan page for student planner data entry and retrieval
-->
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style/globals.css">
	<link rel="stylesheet" type="text/css" href="style/style.css">
	<link rel="stylesheet" type="text/css" href="style/warning.css">
	<link rel="stylesheet" type="text/css" href="style/buttons.css">
	<link rel="stylesheet" type="text/css" href="style/print.css">
	<script defer type="text/javascript" src="script/plan.js"></script>
	<script defer type="text/javascript" src="script/print.js"></script>
	<title>Advise-It</title>
</head>
<body class="plan">

	<form method="POST">
		<div>
			<label>Fall
				<textarea spellcheck="false" id="fall_input" name="fall">{{ @SESSION.plan->getFall() }}</textarea>
			</label>
			<label>Winter
				<textarea spellcheck="false" id="winter_input" name="winter">{{ @SESSION.plan->getWinter() }}</textarea>
			</label>
		</div>
		<div class="row-2">
			<label>Spring
				<textarea spellcheck="false" id="spring_input" name="spring">{{ @SESSION.plan->getSpring() }}</textarea>
			</label>
			<label>Summer
				<textarea spellcheck="false" id="summer_input" name="summer">{{ @SESSION.plan->getSummer() }}</textarea>
			</label>
		</div>

		<div class="row-3">

			<label for="advisor_input">Advisor
				<input class="textinput" id="advisor_input" type="text" name="advisor" spellcheck="false" value="{{ @SESSION.plan->getAdvisor() }}">
			</label>
		</div>

		<div id="save-row">

			<div id="last-updated">
				
				<div id="last-updated-cont">
					<div id="last-updated-text">

						<check if="{{ isset(@SESSION.plan) && @SESSION.plan->getSaved() == '1' }}">Last Updated: {{@SESSION.plan->getLastSaved()}}</check>

						<check if="{{ isset(@SESSION.plan) && @SESSION.plan->getSaved() == '0' }}">Last Updated: Unsaved</check>

					</div>
				</div>

			</div>

			<button type="submit" class="link-btn">Save</button>

			<div id="saved-confirm">
				
				<check if="{{ (isset(@opened) && @opened == 'f') || !isset(@opened) }}">
					<input type="hidden" id="_is_visible" value="f">
				</check>

				<check if="{{ isset(@opened) && @opened == 't' }}">
					<input type="hidden" id="_is_visible" value="t">
				</check>
				
					<div id="message">

					<div id="message-cont">
						<div id="message-btn-cont">

							<div id="message-btn" class="message-btn">
								<svg style="clip-rule:evenodd;fill-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2" version="1.1" viewBox="-1.25 0 24 24" xmlns="http://www.w3.org/2000/svg">
								 <g class="btn-x"  transform="matrix(.49011 -.49011 .82851 .82851 -3.6334 7.6531)">
								  <rect x="9.345" y="2.493" width="4.339" height="19.129"/>
								 </g>
								 <g class="btn-x"  transform="matrix(.49011 .49011 -.82851 .82851 16.347 -3.6334)">
								  <rect x="9.345" y="2.493" width="4.339" height="19.129"/>
								 </g>
								</svg>
							</div> 

						</div>
						<div id="message-text">Plan Saved</div>
					</div>

				</div>
			</div>
		</div>

		<button class="link-btn print-btn" type="button" onclick="print_format();">Print</button>

	</form>

	<div id="plan-print">		

		<h3>Advise-It - Advising Plan</h3>

		<table>
			<tr>
				<th>Token</th>
				<th>Link</th>
				<th>Advisor</th>
			</tr>
			<tr>
				<td>{{ @SESSION.plan->getToken() }}</td>
				<td>{{ @root . @SESSION.plan->getToken() }}</td>
				<td id="advisor_table_cell">{{ @SESSION.plan->getAdvisor() }}</td>
			</tr>
		</table>
	
		<table>
			<tr>
				<th>Fall</th>
				<th>Winter</th>
			</tr>
			<tr>
				<td id="fall_table_cell">{{ @SESSION.plan->getFall() }}</td>
				<td id="winter_table_cell">{{ @SESSION.plan->getWinter() }}</td>
			</tr>
			<tr>
				<th>Spring</th>
				<th>Summer</th>
			</tr>
			<tr>
				<td id="spring_table_cell">{{ @SESSION.plan->getSpring() }}</td>
				<td id="summer_table_cell">{{ @SESSION.plan->getSummer() }}</td>
			</tr>
		</table>
		
	</div>

</body>
</html>